<template name="card_content">
    <div class="card_header"><b>{{ header.cardNumber }}: {{ title }}</b>
        <div class="edit_card"><a class="edit_card_link" href="#">&#x270E;</a></div>
    </div>
    <div class="card_body">
        <div class="description">
            {{ shortDescription id }}
        </div>
        <div class="spacer"></div>
        {{#if checklistTotal id }}
            <div class="subtask_progress_bar_container">
                <div class="subtask_progress_bar" style="width: {{ checklistPercentComplete id }}%"></div>
                <div class="subtask_progress_bar_label">
                    Checklist: {{ checklistTotalTicked id }} / {{ checklistTotal id }}
                </div>
            </div>
        <div class="spacer"></div>
        {{/if}}
        {{#each assignees id }}
            <div class="assignee_container" style="background-color:#E6FAF8">
                <div class="assignee_picture"></div>
                <div class="assignee_item">{{ assigneeName id }}</div>
            </div>
        {{/each }}
    </div>
</template>
