<template name="card_edit">
    <div class="card_header_edit">
        <textarea name="title" rows=1>{{title}}</textarea>
    </div>
    <div class="card_body">
        <textarea name="descr" cols=30 rows=5>{{description}}</textarea>
        <br>
        <input type="checkbox" id="{{_id}}archive">Archive<br>
            <div class="assignee_header">
                Assignee(s):
            </div>
            {{#each assignees id }}
                <div class="assignee_container" style="background-color:{{ getAssigneeColor }}">
                    <div class="assignee_item_edit">
                        {{ assigneeName id }}
                    </div>
                    <div class="remove_assignee">
                        <a id= "{{id}}" class="remove_assignee_link" href="#">
                            &#x274c;
                        </a>
                    </div>
                </div>
            {{/each }}
        <select id="assignee_picker">
            {{#each users}}
                <option value="{{ id }}">{{ username }}</option>
            {{/each }}
        </select><button class="add_assignee">add</button>
        Checklist:
        <br>
        <button class="save_card_edit">Save</button>
        <button class="discard_card_edit">Discard</button><br>
    </div>
</template>
