<template name="card_edit">
    <div class="card_header_edit">
        <textarea name="title" rows=1>{{title}}</textarea>
    </div>
    <div class="card_body">
        <textarea name="descr" cols=30 rows=5>{{description}}</textarea>
        <br>
        <input type="checkbox" id="{{_id}}archive">Archive<br>
            Assignee(s):<ul class="assigneelist">
            {{#each assignees id }}
                <li class="assignee_item">{{ assigneeName id }}</li>
            {{/each }}
        </ul>
        <select id="assignee_picker">
            {{#each users}}
                <option value="{{ id }}">{{ username }}</option>
            {{/each }}
        </select><button class="add_assignee">add</button>
        Checklist:
        <br>
        <button class="save_card_edit">Save</button>
        <button class="discard_card_edit">Discard</button><br>
    </div>
</template>
