<template name="card_content">
    <div class="card_header"><b>{{ header.cardNumber }}: {{ title }}</b>
        <div class="edit_card"><a class="edit_card_link" href="#">&#x270E;</a></div>
    </div>
    <div class="card_body">
        {{ description }} <br><br>
        Checklist:<ul class="checklist">
        {{#each checklists id }}
             <li class="checklist_item">{{ checklistDescription id }}</li>
        {{/each }}</ul>
        Assignee(s):<ul class="assigneelist">
        {{#each assignees id }}
            <li class="assignee_item">{{ assigneeName id }}</li>
        {{/each }}
        </ul>
    </div>
</template>
