<template name="card">
    <li id="{{ _id }}" class="card ui-state-default" data-status="{{ status }}">
        <div class="card_header"><b>{{ header.cardNumber }}: {{ title }}</b>
            <div class="edit_card"><a>edit</a></div>
        </div>
        <div class="card_body">
            {{ description }} <br><br>
            Assignee(s):
            {{#each assignees header.cardNumber }}
                {{ assigneeName _id }} 
            {{/each }} <br>
            Checklist:<ul class="checklist"> 
            {{#each checklists header.cardNumber }}
                <li class="checklist_item">{{ checklistDescription _id }}</li>
            {{/each }}</ul>
        </div>
    </li>
</template>
