<template name="menu_bar">
    <div class="menu_bar">
        <span class="board_title">
            {{ boardName }}
        </span>
        <span>
            <a class="new_lane_link" href="#">new lane</a>
        </span>
        <span class="filter_menu">
            {{> milestone_bucket_filter }}
        </span>
        <span class="reset_button">
            <input type="button" class="add" value="Repull from API" />
        </span>
        <span class="logo">
            <img src="/images/logo.gif" alt="Codethink" height="28" width="130">
        </span>
    </div>
</template>
