<template name="menu_bar">
    <div class="menu_bar">
        <span class="board_title">
           <h1>{{ boardName }}</h1>
        </span>
        <span class="board_menu">
            {{> board_picker }}
        </span>
        <span class="filter_menu">
            {{> bucket_filter }}
            {{> milestone_filter }}
        </span>
        <span>
            <a class="buckets" href="#">buckets</a>
        </span>
        <span>
            <a class="milestones" href="#">milestones</a>
        </span>
        <span class="reset_button">
            {{#if onBoard}}
               <input type="button" class="refreshBoard" value="Refresh Board" />
            {{ else }}
               <input type="button" class="refreshAllBoards" value="Refresh Boards" />
            {{/if }}
        </span>
        <span class="logo">
            <img src="/images/logo.gif" alt="Codethink" height="28" width="130">
        </span>
    </div>
</template>
