<template name="menu_content">
    <style>
        .board {
            opacity: 0.6;
        }
        .menu_content {
            left: {{ leftEdge }}px;
        }
    </style>    

    <div class="menu_content">
        <div class="menu_header">
            <span>{{ kind }}s</span>
            <span><a class="close" href="#">x</a></span>
        </div>
        <div class="menu_body">
        {{#if edit }}
            {{#with itemEdit kind }}
            <div class="editor">
                title:<textarea name="title" rows=1 cols=50>{{ title }}</textarea><br><br>
                description:<textarea name="descr" cols=50>{{ description }}</textarea><br><br>
                {{#if isMilestone }}
                    due date:
                {{/if }}
            </div>
                <br>
                <span><button class="save">Save</button></span>
                <span><button class="discard">Discard</button></span>
            {{/with }}
        {{ else }}
            <a class="new" href="#">new {{ kind }}</a><br>
            <ul>
            {{#each items kind}}
                <li>
                    <span><b>{{ title }}</b></span>
                    <span>{{ description }}</span>
                    <span><a class="edit" href="#">edit</a></span>
                </li>
            {{/each }}
            </ul>
        {{/if }}
        </div>
    </div>
</template>
