.archive {
    width: 100%;
}
table .archive {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    text-align: left;
    padding: 2px;
}
table .archive th {
    padding: 8px;
}
table .archive td {
    min-width:124px;
    width:15%;
}
table .archive tr:nth-child(even) {
    background-color: #eee;
}
table .archive tr:nth-child(odd) {
   background-color:#fff;
}
