.card {
    margin-bottom: 5px ;
    word-wrap: break-word;
    background-color: #FFEAD9;
    border: 0px ;
    border-style: solid;
    border-color: #333;
    border-radius: 8px;
    box-shadow: 1px 2px 1px #ccc;
    list-style: none;
    padding-bottom: 1px;
}

.card_header {
    cursor: move;
    position: relative;
    background-color: #F9BC8D;
    padding: 4px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    border-bottom-width:1px;
    border-bottom-color:#dea87e;
    border-bottom-style: solid;
    height: 14px;
    line-height: 22px;

}
.card_header_edit {
    height: 24px;
    position: relative;
    padding-left: 16px;
    background-color: #F9BC8D;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    border-bottom-width:1px;
    border-bottom-color:#dea87e;
    border-bottom-style: solid;
}

.edit_card a {
    text-decoration: none;
    opacity: 0;
    color: black;
    font-size: 20px;
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 4px;
}

.title {
    height: 16px;
}

.description {
    font-size: 14px;
}

.card_body {
    margin: 4px;
}

.checklist_item {
    font-size: 14px;
    padding-left:4px;
    list-style:'disc';
}
.card:hover .edit_card a {
    opacity: 1;
}

.card_placeholder {
    height: 100px;
    margin-bottom: 5px ;
    background-color: #888;
    border: 0px ;
    border-style: solid;
    border-color: #333;
    border-radius: 8px;
    box-shadow: 1px 1px 1px #ccc;
    list-style: none;
}

.subtask_progress_bar_container {
    height: 22px;
    margin-left: 14px;
    margin-right: 14px;
    background-color: #ccc;
    position: relative;
}

.subtask_progress_bar {
    height: 22px;
    background-color: #86BCBC;
    border: 0px;
}

.subtask_progress_bar_label {
    position: absolute;
    top: 5px;
    left: 4px;
    z-index:1;
    font-size: 15px;
    color: black;
}

.assignee_header {
    background-color: #84CCC7;
    height: 25px;
    line-height: 30px;
    padding-left: 3px;
    border: 0px ;
    border-style: solid;
    border-color: #333;
}

.assignee_container {
    height: 18px;
    line-height: 18px;
    font-size: 14px;
    display: inline-block;
}

.assignee_container_edit {
    height: 18px;
    line-height: 18px;
    font-size: 14px;
    margin-bottom: 1px;
}

.assignee_picture {
    background-color: #84CCC7;
    width: 18px;
    height: 18px;
    float: left;
}

.assignee_item {
    font-size: 14px;
    padding-left: 4px;
    padding-right: 4px;
    float: left;
    line-height: 20px;
}

.remove_assignee a {
    text-decoration: none;
    color: red;
    padding-right: 4px;
    float: right;
}

.assignee_item_edit {
    padding-left:4px;
    float: left;
}

.discard_card_edit {
    float: left;
}

.spacer {
    height: 6px;
}
