.lane {
    background-color: #EEE;
    width: 300px ;
    float: left;
    margin-right: 8px ;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 100%;
    box-shadow: 1px 0px 1px #ccc;
}

.lane_header {
    cursor: move;
    color: #1A766F;
    font-size: 24px;
    padding:  8px 8px 0px 8px;
    background-color: #BAE8E5;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-width:1px;
    border-bottom-color:#a8d2cf;
    border-bottom-style: solid;
}

.edit_lane {
    text-decoration: none;
    color: #1A766F;
    font-size: 32px;
    float: right;
    line-height: 18px;
}

.add_card_link {
    text-decoration: none;
    color: #1A766F;
    font-size: 32px;
    float: right;
    line-height: 18px;
}

.lane_li {
    list-style: none;
}

.list-area {
    padding: 8px ;
    margin: 0;
    height: 90%;
    overflow-y: scroll;
}

.lane_placeholder {
    background-color: #aaa;
    width: 300px ;
    float: left;
    margin-right: 8px ;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    min-height: 100%;
}
.lane-fill {
    height:auto;
    background-color: #000;
}
