.lane {
    background-color: #EEE;
    width: 300px ;
    float: left;
    margin-right: 8px ;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    min-height: 100%;
    box-shadow: 1px 0px 1px #ccc;
}

.lane_header {
    position: relative;
    color: #1A766F;
    font-size: 24px;
    padding-top: 8px;
    padding-left: 8px;
    background-color: #BAE8E5;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-width:1px;
    border-bottom-color:#a8d2cf;
    border-bottom-style: solid;
}

.add_card a {
    text-decoration: none;
    color: #1A766F;
    opacity: 0;
    position: absolute;
    font-size: 32px;
    padding-right: 4px;
    bottom: 0;
    right: 0;
}

.lane_li {
    list-style: none;
}

.list-area {
    padding: 10px ;
}
.lane_header:hover .add_card a {
    opacity: 1;
}
