.menu_bar {
    color: white;
    font-size: 30px;
    font-weight: bold;
    padding-top: 4px;
    padding-left: 4px;
    position: relative;
    width: 100%;
    height: 32px;
    background-color: #a7d239;
    border-bottom-width:1px;
    border-bottom-color:#8DB527;
    border-bottom-style: solid;
}

.logo {
    position: absolute;
    right: 0;
    bottom: 0;
    padding-right: 8px;
}
