.menu_bar {
    color: white;
    font-size: 30px;
    font-weight: bold;
    padding-top: 4px;
    position: relative;
    width: 100%;
    height: 32px;
    background-color: #a7d239;
}

.menu_bar_line {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0px;
    background-color: black;
}
